/**{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*-webkit-box-sizing:border-box ;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/
html{
    height: 100%;
}
body{
    height: 100%;
}
/*活动手册页面*/
.bgBtnView{
    margin: 0.3rem auto 0;
    padding:0 1.2rem;
}
